body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.no-label {
  margin-top: 24px !important;
}

#root>div.nav>div>div.right.menu>h4 {
  color: #ffffff !important;
  margin-top: 11px !important;
  font-size: 1.071429rem !important;
}

.login {
  background-color: #F7406A;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 40px;
  overflow: auto;
  height: 100vh;
}